{{!-- Book details stub --}}
    {{#link-to 'index'}}go back{{/link-to}}

<div class="page-header">
  <h1>{{content.title}}</h1>
</div>

<ul class="messages-list">
    <li>
      <h3>{{content.user}}</h3>
      {{content.content}}<em>{{content.content}}</em>
    </li>
</ul>