<div class="page-header">
  <h1>Available Users</h1>
</div>

<ul class="users-list">
  {{#each user in content}}
  <li>{{#link-to 'users.show' user}}{{user.screenName}}{{/link-to}}</li>
  {{/each}}
</ul>
